*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

html,body{
	height: 100%;
}

.center{
	max-width: 1100px;
	padding: 0 2%;
	margin: 0 auto;
}
.clear{
	clear: both;
}

header{
	background-color: #3665af;
	padding: 8px 0;
}
.logo{
	float: left;
	color: white;
}
.logo h2{
	margin-top: 10px;
	margin-left: 5px;
	font-size: 29px;
	font-weight: bold;
}
.form-element input[type=submit]{
	border-radius: 5px;
}

form.form-login{
	float: right;
}
.form-login .form-element{
	display: inline-block;
	margin-right: 15px;
}
.form-element h2{
	color: white;
	font-size: 18px;
}

.form-element input[type=email],
.form-element input[type=password]{
	margin-top: 4px;
	border: 0;
	height: 22px;
	padding-left: 3px;
}

.form-element input[type=submit]{
	background-color: #1969e5;
	border: 3px solid #215ab2;
	color: white;
	cursor: pointer;
	padding: 3px 5px;
}
.form-element input[type=submit]:hover{
	background-color: #215ab2;
}
section.main{
	height: 70%;
	background: linear-gradient(white,#d3d8e8);
	padding: 40px 0;
}
.img-social{
	float: left;
	width: 60%;

}
.img-social img{
	margin-top: 80px;
	width: 550px;
	max-width: 100%;
	height: 150px;
	size: 200px 100px;
}

.abrir-conta{	
	width: 40%;
	float: left;
}

.abrir-conta h2{
	color: black;
	font-size: 32px;
}

.abrir-conta h3{
	font-size: 19px;
	color: rgb(30,30,30);
	margin-top: 8px;
	font-weight: normal;
}

form.criar-conta{
	margin-top: 10px;

}

.w50{
	width: 50%;
	padding: 0 5px;
	float: left;
}
.w100{
	padding: 0 5px;
	width: 100%;
	float: left;
}

form.criar-conta input{
	width: 100%;
	margin-top: 5px;
}
form.criar-conta input[type=email],
form.criar-conta input[type=text],
form.criar-conta input[type=password]{
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	border: 1 px solid #a5dcff;
	border-radius: 8px;
}

form.criar-conta input[type=submit]{
	height: 40px;
	background: linear-gradient(#67ae55,#578843);
	color: white;
	cursor: pointer;
	margin-top: 3px;
	border:0;
	font-size: 24px;
	max-width: 40%;
}

form .w100 h3{
	color: #1d2129;
	font-size: 23px;
	font-weight: normal;
	margin-top: 10px;
}

form select.nascimento{
	float: left;
	margin-top: 5px;
	padding: 5px 5px;
}


.input-radio{
	margin: 15px 5px;
	float: left;
}
.input-radio h2{
	display: inline-block;
	font-size: 23px;
	margin-left: 4px;
}

.input-radio input[type=radio]{
	width: auto !important;
	display: inline-block;
	margin-left: 9px;
}

section.linguas{
	padding: 30px 0;
	background: white;

}
section.linguas a{
	padding-right: 15px;
	font-size: 12px;
	color: #365899;
	text-decoration: none;
}
section.linguas .center{
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;

}
section.linguas a.selected-lingua{
	color: #737373;

}
.danielbook{
	position: absolute;
	margin-left: 20px;
	width: 50%;
	font-size: 30px;
}

h6{
	font-size: 14px;
	margin-left: 78px;
	padding-bottom: 2%;
}

@media screen and (max-width: 768px){
	.logo{
		padding-right: 15px;
		float: none;
		width: 100%;
		text-align: center;
	}
	form.form-login{
		margin-top: 17px;
		display: inline-block;
		float: none;
		width: 100%;
		text-align: center;
	}
	.form-login .form-element{
		display: block;
		margin: 10px 0;
	}
	.form-element h2{
		color: white;
		font-size: 18px;
	}

	.form-element input[type=email],
	.form-element input[type=password]{
		width: 100%;
		max-width: 350px;
		margin-top: 4px;
		margin-bottom: 2px;
		border: 0;
		height: 22px;
		padding-left: 3px;
	}

	.form-element input[type=submit]{
		width: 148px;
	}
	.img-social{
		display: none;
	}
	.danielbook{
		display: none;
	}

	.abrir-conta{
		width: 100%;
	}
	h6{
		font-size: 14px;
		margin-left: 20px;
		padding-bottom: 2%;
	}
}